body,html {
    padding-top:20px;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
}

.pros_img{
    text-align: center;
    margin-top: 10px;
}

.img-pro-w{
    max-width: 100%;
}

.nav-mm{
    color: #222;
    font-weight: bold;
}

.pro-catmar{
    margin-bottom: 20px;
}

.col-cat-lg{
    border: 1px solid #ddd;
}

.set-cat-non{
    display: none;
}

.hide-ol{
    list-style: none;
}

.show-cat-bold{
    float: left;
    color: #000000;
    font-weight:bold;
}

.flo-cat{
    float: left;
}

.setup-content {
    background: #fff;
}
.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
    bottom: 4px;
    width: 320px
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.voyager .btn.btn-default {
    background-color: #fbf5f5;
    border-color: #333335;
    color: #080808;
}
.stepwizard-step .btn.btn-primary {
    color: #080808;
    opacity: .9;
    background: #f8fafb!important;
    border: 1px solid #22A7F0!important;
    border-radius: 15px;
}

.photos{
    border: 1px solid #eee;
    margin-top: 10px;
    padding: 10px;
}
.photos .aline{
    padding: 30px;
}


.catscroll {
    height: 300px;
    overflow-x: hidden;
    display: block;
    margin-left: -20px;
    list-style: none;
}
iframe#richtextbody_ifr{
    height: 250px!important;
}
.mce-panel{
    padding: 1px!important;
    background-color: #eee!important;
}
.color-box {
    max-height: 280px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
}   
.catscroll {
    height: 300px;
    overflow-x: hidden;
    display: block;
}
.list-group ul li:hover, .list-group ul li:active,.list-group ul li:focus {
     background: #f4f4f4;
}   
.next-checkbox-group>label {
    float: left;
    width: 25%;
    margin-bottom: 10px;
}
span.next-checkbox-label {
    margin: 0px 20px;
}
.panel-body{
    padding: 0px!important;
}
.panel-title{
        padding: 10px 30px 10px 15px!important;
}
.setup-content span{
    color: #222;
}
.cats {
    padding: 5px;
    border: 1px solid #eee;
    margin-bottom: 5px;
}
span.next-checkbox-label{
    margin: 0px 3px;
}
.img-all {
    padding: 100px;
    border: 1px solid #eee;
    margin: 5px;
    width: 32%!important;
}
.img-all img{
        height: 100px;
    }
@media( max-width : 585px ) {
    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
        bottom: 4px;
        width: 320px;
        font-size:10px;
    }
    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 10px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .wizard .nav-tabs > li a {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
    .next-checkbox-group>label{
        width: 50%;
    }

}
@media( max-width : 995px ) {
    .img-all{
        padding: 5px;
        width: 100%!important;
    }
    .img-all img{
        height: 100px;
    }
}
@media(min-width: 995px and max-width : 1600px ) {
    .img-all{
        padding: 5px;
        width: 15%!important;
    }
    .img-all img{
        height: 100px;
    }
}

.form-group{
    margin-bottom: 0px!important;
}

.panel-heading{
    padding: 0px!important;
}

.wizard {
    margin: 20px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 32%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 20px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
    
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 20%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 40px;
    height: 40px;
    margin: 20px auto;
    margin-bottom: 5px;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding: 5px;
}

.wizard h3 {
    margin-top: 10px;
}
.catscroll {
    height: 300px;
    overflow-x: hidden;
    display: block;
    margin-left: -20px;
}
iframe#richtextbody_ifr{
    height: 250px!important;
}
.mce-panel{
    padding: 1px!important;
    background-color: #eee!important;
}
.color-box {
    max-height: 280px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
}   
.catscroll {
    height: 300px;
    overflow-x: hidden;
    display: block;
}
.list-group ul li:hover, .list-group ul li:active,.list-group ul li:focus {
     background: #f4f4f4;
}   

.next-checkbox-group>label {
    float: left;
    width: 25%;
    margin-bottom: 10px;
}
span.next-checkbox-label {
    margin: 0px 20px;
}
.panel-title{
        padding: 0px 30px 20px 15px!important;
}
.cats {
    padding: 5px;
    border: 1px solid #eee;
    margin-bottom: 5px;
}
span.next-checkbox-label{
    margin: 0px 3px;
}
.img-all {
    padding: 100px;
    border: 1px solid #eee;
    margin: 5px;
    width: 32%!important;
}
.img-all img{
        height: 100px;
    }
@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 10px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .wizard .nav-tabs > li a {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
    .next-checkbox-group>label{
        width: 50%;
    }

}
@media( max-width : 995px ) {
    .img-all{
        padding: 5px;
        width: 100%!important;
    }
    .img-all img{
        height: 100px;
    }
}
@media(min-width: 995px and max-width : 1600px ) {
    .img-all{
        padding: 5px;
        width: 15%!important;
    }
    .img-all img{
        height: 100px;
    }
}





.list-group-item-action{
    color: #58595f;
}

.selected {
    /*color: red;
    border:2px solid red; 
    background-color: rgb(255, 125, 115);*/

    color: black;
    background: #F3F3F3;
    text-decoration: none;
}


        iframe#richtextbody_ifr{
            height: 250px!important;
        }
        .mce-panel{
            padding: 1px!important;
            background-color: #eee!important;
        }
        .color-box {
            max-height: 280px;
            overflow-y: scroll;
            overflow-x: hidden;
            display: block;
        }   
        .catscroll {
            height: 300px;
            overflow-x: hidden;
            display: block;
        }
        .list-group ul li:hover, .list-group ul li:active,.list-group ul li:focus {
            background: #f4f4f4;
        }


strong { font-weight: 500; }

a, a:hover, a:focus {
    color: #f35b3f;
    /*background-color: lightgreen;*/
    text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
    font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

h4 {
    font-size: 18px;
    font-weight: 300;
    color: #555;
    line-height: 26px;
}

/***** Top content *****/

.top-content { padding: 40px 0 170px 0; }

.top-content .text { color: #fff; }
.top-content .text h1 { color: #fff; }
.top-content .description { margin: 20px 0 10px 0; }
.top-content .description p { opacity: 0.8; }
.top-content .description a { color: #fff; }
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

/*.form-box { padding-top: 40px; }*/

.f1 {
    padding: 25px; background: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.f1 h3 { margin-top: 0; margin-bottom: 5px; text-transform: uppercase; }

.f1-steps { overflow: hidden; position: relative; margin-top: 20px; }

.f1-progress { position: absolute; top: 24px; left: 0; width: 100%; height: 1px; background: #ddd; }
.f1-progress-line { position: absolute; top: 0; left: 0; height: 1px; background: #f35b3f; }

.f1-step { position: relative; float: left; width: 33.333333%; padding: 0 5px; }

.f1-step-icon {
    display: inline-block; width: 40px; height: 40px; margin-top: 4px; background: #ddd;
    font-size: 16px; color: #fff; line-height: 40px;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}
.f1-step.activated .f1-step-icon {
    background: #fff; border: 1px solid #f35b3f; color: #f35b3f; line-height: 38px;
}
.f1-step.active .f1-step-icon {
    width: 48px; height: 48px; margin-top: 0; background: #f35b3f; font-size: 22px; line-height: 48px;
}

.f1-step p { color: #ccc; }
.f1-step.activated p { color: #f35b3f; }
.f1-step.active p { color: #f35b3f; }

.f1 fieldset { text-align: left; }

.f1-buttons { text-align: right; }

.f1 .input-error { border-color: #f35b3f; }



/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
    .top-content { padding: 40px 0 110px 0; }
}

@media (max-width: 415px) {
    
    h1, h2 { font-size: 32px; }
    
    .f1 { padding-bottom: 20px; }
    .f1-buttons button { margin-bottom: 5px; }

}


/* Retina-ize images/icons */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    
}

.list-group-item-action{
    color: #58595f;
    padding-top: 14px;
    line-height: 30px;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.selected {
    /*color: red;
    border:2px solid red; 
    background-color: rgb(255, 125, 115);*/

    color: black;
    background: #F3F3F3;
    text-decoration: none;
}
.step-text{
        text-align: center;
    padding: 0px 30px 15px;
}
.voyager .nav-tabs{
    background-color: #f9f9f9;
}
.panel-title {
    padding: 10px 30px 10px 15px!important;
    font-weight: 500;
    margin-top: 10px;
}


.no-img {
    max-width: 100%;
    height: auto;
    min-height: 125px;
    background:url('/assets/front/img/placeholder-image.png') center center no-repeat;
    display:block;
}
.deli-sec{
    margin-bottom: 20px!important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    background-color: #f27036;
    border: 1px solid #f27036;
    border-bottom-color: #f27036; 
}
.voyager .nav-tabs>li.active>a:hover, .voyager .step .nav-tabs{
    background-color: #f27036; 
}
.nav-tabs>li{
    border: 1px solid #f27036;
}
.nav-tabs>li>a{
    margin-right: 0px;
}
.nav-tabs>li.active>a{
    color: #fff!important;
    font-weight: bold;
}
.deleimg{
    margin-left: 126px;
}
